@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  cursor: pointer;
}
.transactions-div{
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill); 
  align-items: center;
  justify-items: center;
  /* justify-content: center;
  align-items: center;  */
  gap: 1.2rem;
  /* flex-wrap: wrap; */
}
.color-divs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-top: 3vh;
}
.color-div{
  width: 20%;
  display: flex;
  gap: 3px;
}
.pie-div{
  width: 50vw;
  height:80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.buttons-div{
  width: 50vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  
}
#a-buttons{
  background-color: #1f2937 ;
  width: 15vw;
  height: 6vh;
  text-align: center;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#a-buttons:hover{
  background-color: #18202b;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typed-out {
  overflow: hidden;
  border-right: .15em solid orange;
  font-size: 1.6rem;
  width: 0;
  animation: typing 1s forwards;
}
.container {
  display: inline-block;
}

